/*------------------------------------Général--------------------------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%; /*méthode 62.5%, 1rem=10px.*/
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

h1{
  font-size: 2.2rem;
  font-weight: 600;
}

h2{
  font-size: 1.7rem;
  font-weight: 600;
}

nav, p{
  font-size: 1.6rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover, .search__town--lien:hover, .search__town--recherche:hover {
  color: #0065fc;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: auto;
  display: grid;
  grid-template-columns: 2.6fr 2.4fr 1.6fr 11rem 20rem 18rem;
  grid-template-rows: 11rem 16rem 6rem 6rem;
  grid-template-areas: "header header header menuNav menuNav logNav"
                       "recherche recherche recherche recherche recherche recherche"
                       "filtres filtres filtres filtres filtres filtres"
                       "filtresInfos filtresInfos filtresInfos filtresInfos filtresInfos filtresInfos";
}

/*------------------------------------Header------------------------------------*/

.siteHeader {
  padding: 4rem 5rem;
  grid-area: header;
}


/*-----------------------------Menu de navigation et Lien vers Login-------------------------------------*/

.menuNav {
  grid-area: menuNav;
}
.menuNav__active{
  padding: 5rem 3rem 4rem 4rem;
}
.menuNav__content,
.logNav__log {
  text-align: center;
  border-top: 0.2rem solid transparent;
  padding: 5rem 3rem 4rem;
}
.logNav {
  grid-area: logNav;
}
.logNav__log {
  color: #0065fc;
  font-weight: 600;
}
.menuNav__content:hover,
.menuNav__active:hover,
.logNav__log:hover {
  border-top: 0.2rem solid #0065fc;
}

@media (max-width: 1199px) {
  .siteHeader {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .menuNav__active{
    padding: 4.5rem 3rem 3rem 4rem;
  }
  .menuNav__content,
  .logNav__log {
    padding: 4.5rem 3rem 3rem;
  }

  .search__filters--themes{
    margin: 0 1rem 1.5rem;
  }
}

@media (max-width: 767px) {
  
  header {
    padding: 0 2rem 2rem 2rem;
  }
  .logNav__log {
    padding: 4rem 2rem 2rem 2rem;
  }
  .menuNav, .menuNav__active,
  .menuNav__content {
    display: flex;
    align-items: center;
  }
  .menuNav {
    justify-content: space-evenly;
    border-bottom: 0.2rem solid #f2f2f2;
  }
  .menuNav__active,
  .menuNav__content {
    justify-content: center;
    padding: 0rem 2rem 1.15rem;
    width: 50%;
  }
  .menuNav__content:hover,
  .menuNav__active:hover,
  .logNav__log:hover {
    border-top: 0;
    border-bottom: 0.2rem solid #0065fc;
  }
}

/*----------------------------------------------------Section de recherche------------------------------------------------*/

/*--------------------------Section de recherche par ville----------------------------------*/

.search{
  grid-area: recherche;
  padding: 1.5rem 5rem;
}

h1, p{
  margin: 0.5rem;
}

.search__town{
  display: flex;
  align-items: center;
  margin: 1.5rem 0.5rem;
  width: 40rem;
  border-radius: 1.5rem;
  border-top: 0.1rem solid #f2f2f2;
  border-bottom: 0.1rem solid #f2f2f2;
}

.search__town, .search__town--lien, .search__town--recherche{
  height: 5rem;
}

.search__town--lien, .search__town--recherche{
  text-align: center;
}

.search__town--saisie, .search__town--recherche{
  border: none;
  font-size: 1.6rem;
}

.search__town--lien{
  padding-top: 1.2rem;
  font-size: 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  width: 5rem;
  background-color: #f2f2f2;
}

.search__town--saisie{
  width: 23rem;
  height: 4.8rem;
  padding-left: 2rem;
  color: black;
  font-weight: 600;
}

.search__town--recherche .fa-search{
  display: none;
}

.search__town--recherche{
  background-color: #0065fc;
  font-weight: 400;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width:12rem;
  color:#fff;
}

.search__town--lien:hover, .search__town--recherche:hover{
  background-color: #DEEBFF;
}

@media (max-width: 767px){
  .search{
    padding: 2rem 2rem;
  }
  .search__town{
    width: 32.5rem;
  }
  .search__town--recherche span{
    display: none;
  }
  .search__town--recherche .fa-search{
    display: inline-block;
    font-size: 2.5rem;
  }
  .search__town--recherche{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 5rem;
    border-radius: 1.5rem;
  }
}

/*-----------------------------Section de recherche par filtres-------------------------------------------*/
 
.filters, .filters__titre, .filters__themes, .filters__lien, .filters__icon {
  display: flex;
  align-items: center;
  height: 5rem;
}

.filters{
  grid-area: filtres;
  padding: 0rem 5rem;
}
.filters__titre{
  padding-left: 1rem;
  margin-right: 2.5rem;
}
.filters__categories{
  display: flex;
}
.filters__themes{
  padding-right: 2rem;
  margin-right: 2.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  border: 0.2rem solid #f2f2f2;
  border-left: 0;
  border-radius: 5rem;
}

.filters__lien{
  width: 5rem;
  background-color: #DEEBFF;
  border-radius: 5rem;
}

.filters__icon{
  margin: auto;
  font-size: 2.2rem;
  color: #0065fc;
}

.filters__in{
  visibility: hidden;
}

.filters__themes:hover {
  cursor: pointer;
  color: #FFF;
  background-color:#0065fc;
  border-color: #0065fc;
  box-shadow: .2rem .3rem 1rem #000;
}

input[type="checkbox"] + label{
  cursor: pointer;
}

input[type="checkbox"]:checked + label{
  color: #0065fc;
}

/*---------------------Filtres infos-----------------------------------------*/

.filters__infos, .filters__infos--lien{
  display: flex;
  align-items: center;
}

.filters__infos{
  grid-area: filtresInfos;
  padding: 0rem 5rem;
}

.filters__infos--lien{
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1rem;
  border: 0.1rem solid #f2f2f2;
  border-radius: 2.4rem;
  margin-right: .5rem;
}

.filters__infos--icon{
  display: flex;
  margin: auto;
  font-size: 1.3rem;
  color: #0065fc;
}





